article.tweet header {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}

article.tweet {
  border: solid;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 0.5em
  
}

#all-tweets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}