.new-tweet {
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}


.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
}

.red {
  color: red;
}

button {
  color: white;
  background-color: #4056A1;
}

#tweet-text {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: solid;
  background-color: transparent;
  resize: none;
  outline: none;

}